@{
    ViewBag.Title = "Home Page";
}
@section Styles{
    
<link href="~/Content/carousel.css" rel="stylesheet" />
}
@section Scripts{
<script src="~/Scripts/carouselJS.js"></script>
}
<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<div class="container">
    <section class="slide-wrapper">
        <div class="container">
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item item1 active">
                        <div class="fill" style=" background-color:#48c3af;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="/Images/anzung1.png" alt="sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">
                                    <h2>Нов модел анцунг</h2>
                                    <p>
                                        100% полиестер
                                        Има странични джобове
                                        Цип в долната част на крачола
                                        Избродирано лого
                                        Хубава и качествена материя
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item1">
                        <div class="fill" style="background-color:#48c3af;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="/Images/анцунг2.png" alt="white-sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">
                                    <h2>Нов модел анцунг</h2>
                                    <p>
                                        100% полиестер
                                        Има странични джобове
                                        Цип в долната част на крачола
                                        Избродирано лого
                                        Хубава и качествена материя
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item2">
                        <div class="fill" style="background-color:#48c3af;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="/Images/anzung1.png" alt="white-sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">
                                    <h2>Нов модел анцунг</h2>
                                    <p>
                                        100% полиестер
                                        Има странични джобове
                                        Цип в долната част на крачола
                                        Избродирано лого
                                        Хубава и качествена материя
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item1">
                        <div class="fill" style="background-color:#48c3af;">
                            <div class="inner-content">
                                <div class="carousel-img">
                                    <img src="/Images/анцунг2.png" alt="white-sofa" class="img img-responsive" />
                                </div>
                                <div class="carousel-desc">
                                    <h2>Нов модел анцунг</h2>
                                    <p>
                                        100% полиестер
                                        Има странични джобове
                                        Цип в долната част на крачола
                                        Избродирано лого
                                        Хубава и качествена материя
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div>
        
    </div>
</div>

